.history {
  border: 3px solid var(--block-bgcolor-border);
}

.history__hide {
  display: none;
}

.history__show {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.history__details, .history__destination {
  display: flex;
  align-items: center;
}

.history__actions {
  display: flex;
}

.history__transaction {
  cursor: pointer;
}