.header {
  padding: var(--gap-xxxl) var(--gap);
  /* background-color: var(--block-bgcolor-default); */
}

.header__content {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.header__logo {
  width: 179px;
  height: 34px;
  background-color: var(--text-color-primary);
}